/* Button Base */
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-xs);
    gap: var(--spacing-xs);
    border-radius: var(--radius-md);
    font-size: var(--text-sm) ;
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--tracking-button);
    line-height: var(--line-height-none);
    transition: all var(--transition-slow);
    cursor: pointer;
    border: none;
    text-decoration: none;
}

/* Button variants */
.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);

    &:hover:not(:disabled) {
        background-color: var(--color-button-hover);
    }

    &:focus-visible {
        box-shadow: 0 0 0 4px var(--color-primary);
    }
}

.btn-rest {
    background-color: var(--color-secondary);
    color: var(--color-primary);

    &:focus-visible {
        box-shadow: 0 0 0 4px var(--color-secondary);
    }
}

.btn-disable {
    background-color: var(--color-light);
    color: var(--color-primary-grey);

    &:hover:not(:disabled) {
        background-color: var(--color-primary-grey);
        color: var(--color-white);
    }
    &:focus-visible {
        box-shadow: 0 0 0 4px var(--color-primary-grey);
    }
}
.btn-error {
    background-color: var(--color-secondary-error);
    color: var(--color-white);

    &:hover:not(:disabled) {
        background-color: var(--color-secondary-error-hover);
        color: var(--color-white);
    }
    &:focus-visible {
        box-shadow: 0 0 0 4px var(--color-primary-grey);
    }
}
.btn-warning {
    background-color: var(--color-secondary-warning);
    color: var(--color-white);

    &:hover:not(:disabled) {
        background-color: var(--color-secondary-warning);
        color: var(--color-white);
    }
    &:focus-visible {
        box-shadow: 0 0 0 4px var(--color-primary-grey);
    }
}

.btn-outline-primary{
    background-color: var(--color-white);
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    &:hover:not(:disabled) {
        background-color: var(--color-white);
        border: 2px solid var(--color-button-hover);
        color: var(--color-button-hover);
    }
}

.btn-outline-disable{
    background-color: var(--color-white);
    border: 2px solid var(--color-outline-grey);
    color: var(--color-primary-grey);
    &:hover:not(:disabled) {
        background-color: var(--color-white);
        border: 2px solid var(--color-primary-grey);
        color: var(--color-primary-grey);
    }
}

.btn-outline-error{
    background-color: var(--color-white);
    border: 2px solid var(--color-secondary-error);
    color: var(--color-secondary-error);
    &:hover:not(:disabled) {
        background-color: var(--color-white);
        border: 2px solid var(--color-secondary-error-hover);
        color: var(--color-secondary-error-hover);
    }
}

.btn-outline-warning{
    background-color: var(--color-white);
    border: 2px solid var(--color-secondary-warning);
    color: var(--color-secondary-warning);
}

.btn-outline-disable-dashed{
    background-color: transparent;
    border: 2px dashed var(--color-primary-grey);
    color: var(--color-primary-grey);
}