/* Button Base */
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-xs);
    gap: var(--spacing-xs);
    border-radius: var(--radius-md);
    font-size: var(--text-sm) ;
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--tracking-button);
    line-height: var(--line-height-none);
    transition: all var(--transition-slow);
    cursor: pointer;
    border: none;
    text-decoration: none;
}

/* Button variants */
.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);

    &:hover:not(:disabled) {
        background-color: var(--color-button-hover);
    }

    &:focus-visible {
        box-shadow: 0 0 0 4px var(--color-primary);
    }
}

.btn-rest {
    background-color: var(--color-secondary);
    color: var(--color-primary);

    &:focus-visible {
        box-shadow: 0 0 0 4px var(--color-secondary);
    }
}

.btn-disable {
    background-color: var(--color-light);
    color: var(--color-primary-grey);

    &:hover:not(:disabled) {
        background-color: var(--color-primary-grey);
        color: var(--color-white);
    }
    &:focus-visible {
        box-shadow: 0 0 0 4px var(--color-primary-grey);
    }
}
.btn-error {
    background-color: var(--color-secondary-error);
    color: var(--color-white);

    &:hover:not(:disabled) {
        background-color: var(--color-secondary-error-hover);
        color: var(--color-white);
    }
    &:focus-visible {
        box-shadow: 0 0 0 4px var(--color-primary-grey);
    }
}
.btn-warning {
    background-color: var(--color-secondary-warning);
    color: var(--color-white);

    &:hover:not(:disabled) {
        background-color: var(--color-secondary-warning);
        color: var(--color-white);
    }
    &:focus-visible {
        box-shadow: 0 0 0 4px var(--color-primary-grey);
    }
}

.btn-outline-primary{
    background-color: var(--color-white);
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    &:hover:not(:disabled) {
        background-color: var(--color-white);
        border: 2px solid var(--color-button-hover);
        color: var(--color-button-hover);
    }
}

.btn-outline-disable{
    background-color: var(--color-white);
    border: 2px solid var(--color-outline-grey);
    color: var(--color-primary-grey);
    &:hover:not(:disabled) {
        background-color: var(--color-white);
        border: 2px solid var(--color-primary-grey);
        color: var(--color-primary-grey);
    }
}

.btn-outline-error{
    background-color: var(--color-white);
    border: 2px solid var(--color-secondary-error);
    color: var(--color-secondary-error);
    &:hover:not(:disabled) {
        background-color: var(--color-white);
        border: 2px solid var(--color-secondary-error-hover);
        color: var(--color-secondary-error-hover);
    }
}

.btn-outline-warning{
    background-color: var(--color-white);
    border: 2px solid var(--color-secondary-warning);
    color: var(--color-secondary-warning);
}

/* Input variants */
.input{
    width: 100%;
    font-size: var(--text-base) ;
    font-weight: var(--font-weight-medium);
    color:  var(--color-black);
    border: none;
    background: transparent;

    &:focus{
        outline: none;
    }
}


.input-border{
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    padding: 16px 24px;
    border-radius: var(--radius-md);
    border: 1px solid var(--color-outline-grey);
    background-color: var(--color-white);
    transition: all;
    transition-duration: 150ms;
    outline: var(--color-outline-grey);
    outline-offset: -2px;

    &:focus-within{
        outline: var(--color-primary);
        outline-offset: -2px;
        border: 2px solid var(--color-primary);
        color: var(--color-black);
    }
}

.ds-checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    height: 1.5rem;
    cursor: pointer;
    font-size: var(--text-sm);
    font-weight: var(--font-weight-medium);
    user-select: none;
    line-height: var(--line-height-snug);
    position: relative;
}

/* Hide browser checkbox */
.ds-checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Custom Box */
.ds-checkbox-mark {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.3125rem;
    background-color: var(--color-light);
    border: 1px solid var(--color-outline-grey);
    transition: all 150ms ease-in-out;
    position: relative;
}

/* Hover effect */
.ds-checkbox-container:hover .ds-checkbox-mark {
    background-color: var(--color-light);
    border-color: var(--color-outline-grey);
}

/* Checked */
.ds-checkbox-input:checked ~ .ds-checkbox-mark {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

/* Checkmark (hidden by default) */
.ds-checkbox-mark::after {
    content: "";
    position: absolute;
    display: none;

    /* Centering trick */
    top: 52.5%;
    left: 52.5%;
    transform: translate(-50%, -50%);

    width: 14px;
    height: 12px;

    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8' fill='none'><path d='M3.53553 4.94975L1.41421 2.82843L0 4.24264L3.53553 7.77817L9.8995 1.41421L8.48528 0L3.53553 4.94975Z' fill='white'/></svg>");
    background-repeat: no-repeat;
    background-size: contain;
}
/* Show checkmark */
.ds-checkbox-input:checked ~ .ds-checkbox-mark::after {
    display: block;
}
